
/*
@deprecated: quasar has a better solution for this
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: $breakpoint-xs),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  table {
      width: 100%;
      border: none; 
      box-shadow: none;
  }

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { 
    border: 0px transparent;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0px #979797;
    margin-bottom: 12px;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%;
    background-color: transparent;
    &:not(:last-of-type) {
      border-bottom: 1px solid #eee;
    }
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);

    color: $q-color-secondary;
    font-weight: bold;
  }

}